@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;700");

* {
	margin: 0px;
	padding: 0px;
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .logo p {
	font-weight: 700
}

header {
	padding: 10px;
	color: white;
	background-color: royalblue;
}

a {
	display: flex;
}

.logo img {
	height: 50px;
}
