@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;700");

* {
	margin: 0px;
	padding: 0px;
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .logo {
	font-weight: 700
}

h1 {
	font-size: 40px;
}

h2, .logo {
	font-size: 30px;
}

h3, nav a {
	font-size: 25px;
}

h4 {
	font-size: 20px;
}

h5, p {
	font-size: 15px;
}

h6 {
	font-size: 10px;
}

header, footer {
	padding: 20px;
	background-color: royalblue;
}

nav {
	padding: 0px 20px 20px 20px;
	display: flex;
	justify-content: space-between;
	color: white;
	background-color: royalblue;
}

section {
	padding: 20px;
}

div {
	display: flex;
}

img {
	height: 100%;
}

.logo {
	display: flex;
	align-items: center;
	color: white;
}

.logo img {
	margin-right: 10px;
	height: 50px;
}

.socials {
	margin: 0px -10px;
}

.socials a {
	margin: 0px 10px;
	height: 25px;
}
